* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

footer {
  background-color: #777;
  color: white;
  flex-shrink: 0;
  padding: 30px 0;
}

h1 {
  margin-bottom: 20px;
}

header {
  background-color: #ccc;
  margin-bottom: 60px;
  padding: 20px 0;
}

main {
  flex: 1;
}

ul {
  list-style-type: none;
}

.report-block__employee-list li {
  margin: 12px 0;
}

.root {
  background-color: aliceblue;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.y-wrap {
  margin: 0 auto;
  width: 90%;
}

.report-block {
  display: flex;
  justify-content: space-around;
}

button {
  background: cornflowerblue;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  margin: 14px 0;
  max-width: 160px;
  padding: 14px 24px;
}

.report-block__buttons {
  display: flex;
  flex-direction: column;
}

.report-block__50 {
  width: 50%;
}
